# Challenge Part 2

# Have Customers narrow the travel search based on temperature and precipitation

In [1]:
# Dependencies and Setup
import requests
import gmaps
import pandas as pd

# Import the API key.
from config import g_key

# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

# Import the API key
from config import weather_api_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [3]:
city_data_df = pd.read_csv("./data/WeatherPy_Database.csv")
city_data_df

,City_ID,City,Country,Max Temp,Current Description,Humidity,Cloudiness,Rain (inches),Snow (inches),Wind Speed,Lat,Lng
0,0,Albany,US,91.00,light rain,42,78,0.29,0,4.83,42.60,-73.97
1,1,Dingle,PH,77.63,scattered clouds,78,35,0.00,0,4.59,11.00,122.67
2,2,Puerto Escondido,MX,87.80,broken clouds,66,75,0.00,0,6.93,15.85,-97.07
3,3,Samarai,PG,79.02,light rain,86,19,0.19,0,12.64,-10.62,150.67
4,4,Southbridge,US,88.00,light rain,46,28,0.18,0,5.99,42.08,-72.03
...,...,...,...,...,...,...,...,...,...,...,...,...
573,573,Ayagoz,KZ,41.31,few clouds,68,14,0.00,0,4.79,47.97,80.44
574,574,Linqiong,CN,77.00,scattered clouds,100,40,0.00,0,4.47,30.42,103.46
575,575,Stantsionno-Oyashinskiy,RU,42.78,clear sky,91,0,0.00,0,3.56,55.47,83.82
576,576,Sechura,PE,74.98,clear sky,57,1,0.00,0,17.02,-5.56,-80.82
577,577,Medak,IN,73.99,light rain,74,100,0.17,0,1.99,18.03,78.27

# Filter the DataFrame for minimum and maximum temperature preferences

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 200

In [14]:
# Ask the customer rain or snow preferences
rain_amount = input("Do you want it to be raining? (yes/no) ")

Do you want it to be raining? (yes/no) no

In [15]:
# Ask the customer rain or snow preferences
snow_amount = input("Do you want it to be raining? (yes/no) ")

Do you want it to be raining? (yes/no) no

In [16]:
# Add conditional statements to filter results
if rain_amount == "no" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) & 
                                          (city_data_df["Rain (inches)"] == 0) & 
                                          (city_data_df["Snow (inches)"] == 0)]


elif rain_amount == "yes" and snow_amount == "no":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) & 
                                          (city_data_df["Rain (inches)"] > 0.0) & 
                                          (city_data_df["Snow (inches)"] == 0)]

elif rain_amount == "no" and snow_amount == "yes":
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) & 
                                          (city_data_df["Rain (inches)"] == 0) & 
                                          (city_data_df["Snow (inches)"] > 0.0)]
    
else:
    filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                          (city_data_df["Max Temp"] >= min_temp) & 
                                          (city_data_df["Rain (inches)"] > 0.0) & 
                                          (city_data_df["Snow (inches)"] > 0.0)]

In [17]:
filtered_cities_df.head()

,City_ID,City,Country,Max Temp,Current Description,Humidity,Cloudiness,Rain (inches),Snow (inches),Wind Speed,Lat,Lng
1,1,Dingle,PH,77.63,scattered clouds,78,35,0.0,0,4.59,11.00,122.67
2,2,Puerto Escondido,MX,87.80,broken clouds,66,75,0.0,0,6.93,15.85,-97.07
5,5,Havre-Saint-Pierre,CA,60.80,clear sky,63,1,0.0,0,9.17,50.23,-63.60
12,12,Kuah,MY,80.60,few clouds,83,20,0.0,0,2.24,6.33,99.84
13,13,East London,ZA,69.35,clear sky,30,0,0.0,0,8.86,-33.02,27.91

In [18]:
filtered_cities_df.count()

City_ID                354
City                   354
Country                352
Max Temp               354
Current Description    354
Humidity               354
Cloudiness             354
Rain (inches)          354
Snow (inches)          354
Wind Speed             354
Lat                    354
Lng                    354
dtype: int64

In [20]:
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df

,City_ID,City,Country,Max Temp,Current Description,Humidity,Cloudiness,Rain (inches),Snow (inches),Wind Speed,Lat,Lng
1,1,Dingle,PH,77.63,scattered clouds,78,35,0.0,0,4.59,11.00,122.67
2,2,Puerto Escondido,MX,87.80,broken clouds,66,75,0.0,0,6.93,15.85,-97.07
5,5,Havre-Saint-Pierre,CA,60.80,clear sky,63,1,0.0,0,9.17,50.23,-63.60
12,12,Kuah,MY,80.60,few clouds,83,20,0.0,0,2.24,6.33,99.84
13,13,East London,ZA,69.35,clear sky,30,0,0.0,0,8.86,-33.02,27.91
...,...,...,...,...,...,...,...,...,...,...,...,...
569,569,Half Moon Bay,US,73.99,scattered clouds,60,40,0.0,0,6.93,37.46,-122.43
570,570,Bushehr,IR,89.60,clear sky,49,0,0.0,0,16.11,28.97,50.84
571,571,Peniche,PT,66.99,clear sky,84,1,0.0,0,7.00,39.36,-9.38
574,574,Linqiong,CN,77.00,scattered clouds,100,40,0.0,0,4.47,30.42,103.46
576,576,Sechura,PE,74.98,clear sky,57,1,0.0,0,17.02,-5.56,-80.82

In [21]:
filtered_cities_df.count()

City_ID                352
City                   352
Country                352
Max Temp               352
Current Description    352
Humidity               352
Cloudiness             352
Rain (inches)          352
Snow (inches)          352
Wind Speed             352
Lat                    352
Lng                    352
dtype: int64

In [47]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Current Description", "Rain (inches)", "Snow (inches)", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Rain (inches),Snow (inches),Lat,Lng,Hotel Name
1,Dingle,PH,77.63,scattered clouds,0.0,0,11.00,122.67,
2,Puerto Escondido,MX,87.80,broken clouds,0.0,0,15.85,-97.07,
5,Havre-Saint-Pierre,CA,60.80,clear sky,0.0,0,50.23,-63.60,
12,Kuah,MY,80.60,few clouds,0.0,0,6.33,99.84,
13,East London,ZA,69.35,clear sky,0.0,0,-33.02,27.91,
14,Kashi,CN,71.60,scattered clouds,0.0,0,39.45,75.98,
15,Zhigansk,RU,70.30,clear sky,0.0,0,66.77,123.37,
18,Tateyama,JP,72.00,broken clouds,0.0,0,34.98,139.87,
21,Victoria,HK,84.00,broken clouds,0.0,0,22.29,114.16,
22,Arraial Do Cabo,BR,78.80,clear sky,0.0,0,-22.97,-42.03,

In [48]:
# Set the parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
}

# Iterate through
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
# Use base URL to search for hotels in Paris.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
# Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel not found.. skipping")

Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping
Hotel not found.. skipping

In [49]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Rain (inches),Snow (inches),Lat,Lng,Hotel Name
1,Dingle,PH,77.63,scattered clouds,0.0,0,11.00,122.67,Camp Pasica
2,Puerto Escondido,MX,87.80,broken clouds,0.0,0,15.85,-97.07,Aldea del Bazar Hotel and Spa
5,Havre-Saint-Pierre,CA,60.80,clear sky,0.0,0,50.23,-63.60,Auberge Niapiskau
12,Kuah,MY,80.60,few clouds,0.0,0,6.33,99.84,Azio Hotel
13,East London,ZA,69.35,clear sky,0.0,0,-33.02,27.91,Tu Casa

In [50]:
# Create the output file (CSV)
output_data_file = "data/WeatherPy_vacation.csv"

# Export the City_Data into a CSV 
hotel_df.to_csv(output_data_file, index_label='City_ID')

In [51]:
vacation_df = pd.read_csv("data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Rain (inches),Snow (inches),Lat,Lng,Hotel Name
0,1,Dingle,PH,77.63,scattered clouds,0.0,0,11.00,122.67,Camp Pasica
1,2,Puerto Escondido,MX,87.80,broken clouds,0.0,0,15.85,-97.07,Aldea del Bazar Hotel and Spa
2,5,Havre-Saint-Pierre,CA,60.80,clear sky,0.0,0,50.23,-63.60,Auberge Niapiskau
3,12,Kuah,MY,80.60,few clouds,0.0,0,6.33,99.84,Azio Hotel
4,13,East London,ZA,69.35,clear sky,0.0,0,-33.02,27.91,Tu Casa

In [70]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Max Temp} F at {Hotel Name}</dd>
<dt>Current Conditions</dt><dd>{Current Description} at {Hotel Name}</dd>
</dl>
"""

In [71]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [72]:
locations = hotel_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))