# Challenge part 3

In [18]:
# Create a Travel Itinerary with a Corresponding Map

In [19]:
import pandas as pd
import requests
import gmaps

from config import g_key

In [20]:
gmaps.configure(api_key=g_key)

In [21]:
vacation_df = pd.read_csv("data/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,1,Dingle,PH,77.63,11.00,122.67,Camp Pasica
1,2,Puerto Escondido,MX,87.80,15.85,-97.07,Aldea del Bazar Hotel and Spa
2,5,Havre-Saint-Pierre,CA,60.80,50.23,-63.60,Auberge Niapiskau
3,12,Kuah,MY,80.60,6.33,99.84,Azio Hotel
4,13,East London,ZA,69.35,-33.02,27.91,Tu Casa

In [22]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
</dl>
"""

In [23]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

In [24]:
locations = vacation_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
vacation_start = vacation_df.loc[vacation_df["City"] == "Chico"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Half Moon Bay"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Laguna"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "San Jose"]

In [26]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]

print(start)
print(end)
print(stop1)
print(stop2)

(39.73, -121.84)
(37.46, -122.43)
(38.42, -121.42)
(37.34, -121.89)

In [30]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode="DRIVING")

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])
itinerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
292,481,Chico,US,91.99,39.73,-121.84,Quality Inn Near Chico State
347,569,Half Moon Bay,US,73.99,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"
232,395,Laguna,US,87.01,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...
291,480,San Jose,US,84.99,37.34,-121.89,The Westin San Jose

In [34]:
itinerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,481,Chico,US,91.99,39.73,-121.84,Quality Inn Near Chico State
1,569,Half Moon Bay,US,73.99,37.46,-122.43,"The Ritz-Carlton, Half Moon Bay"
2,395,Laguna,US,87.01,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...
3,480,San Jose,US,84.99,37.34,-121.89,The Westin San Jose

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

In [39]:
locations = itinerary_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))